@page "/apps/details/{Id:guid}"
@attribute [Authorize]

@layout AppShell

@using AuthServer.Shared.Apps

@inject AuthServer.Shared.Apps.Apps.AppsClient AppsClient

@if(appReply != null) {
    <h2>@appReply.Name</h2>

    <p>@appReply.Description</p>

    @if(appReply.HasLdapAuth)
    {
        <h2>Credentials</h2>

        <p>@appReply.Name requires you to provide a username and application-specific password to authenticate.</p>
        <button @onclick="@CreateLdapPassword">Generate application specific password</button>
        @if(newLdapPassword != null) {
            <p>@newLdapPassword</p>
        }
    } 

    @if(appReply.LoginUrl != null)
    {
        <h2>Access</h2>
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Keep your Gatekeeper password safe</h4>
            <p>Do not provide your Gatekeeper credentials to any other application. @appReply.Name does not need it to identify you.</p>
        </div>

        <a href="@appReply.LoginUrl" class="btn btn-primary">Proceed to @appReply.Name</a>
    }
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    private GetAppDetailsReply? appReply;
    private string? newLdapPassword;

    protected override async Task OnInitializedAsync()
    {
        GetAppDetailsRequest request = new GetAppDetailsRequest {
            Id = Id.ToString(),
        };

        appReply = await AppsClient.GetAppDetailsAsync(request);
    }

    private async Task CreateLdapPassword() 
    {
        CreateLdapCredentialRequest request = new CreateLdapCredentialRequest {
            Id = Id.ToString(),
        };

        newLdapPassword = (await AppsClient.CreateLdapCredentialAsync(request)).Password;
    }
}
