<h4 class="text-lg">Choose Authorization Services</h4>

<form @onsubmit="@SubmitForm">
    <p>Choose how your users should authenticate towards your custom app.</p>
    <div class="form-check">
        <input disabled type="checkbox" name="iap_auth" class="form-check-input" @bind="@IAP_Auth">
        <label for="iap_auth" class="form-check-label">Identity Aware Proxy (Recommended)<br/>Use Gatekeeper as a Reverse Proxy. No traffic will be forwarded unless the user passes the authorization check.</label>
    </div>
    <div class="form-check">
        <input disabled type="checkbox" name="oidc_auth" class="form-check-input" @bind="@OIDC_Auth">
        <label for="oidc_auth" class="form-check-label">OIDC (Recommended)<br/>Use OpenID connect.<br/> Note: Can be combined with Identity Aware Proxy for additional security.</label>
    </div>
    <div class="form-check">
        <input type="checkbox" name="ldap_auth" class="form-check-input" @bind="@LDAP_Auth">
        <label for="ldap_auth" class="form-check-label">LDAP<br/>Uses an application specific password created by Gatekeeper.<br/>Note: Use only if your application doesn’t support Identity Aware Proxy or OIDC.</label>
    </div>
    
    <h4 class="text-lg pt-2">Choose Identity Services</h4>
      <div class="form-check">
          <input disabled type="checkbox" name="scim_directory" class="form-check-input" @bind="@SCIM_Directory">
          <label for="scim_directory" class="form-check-label">SCIM (Recommended)<br/>Synchronize users using the SCIM protocol.</label>
      </div>
      <div class="form-check">
          <input type="checkbox" name="ldap_directory" class="form-check-input" @bind="@LDAP_Directory">
          <label for="ldap_directory" class="form-check-label">LDAP<br/>Synchronize users using the LDAP protocol.</label>
      </div>

    <button type="submit" class="btn btn-secondary-dark mt-4">Next</button>
</form>

@code {
    [Parameter] public EventCallback<AuthIdentityChoiceStep> OnNextStep { get; set; }

    private bool IAP_Auth;
    private bool OIDC_Auth;
    private bool LDAP_Auth;
    private bool SCIM_Directory;
    private bool LDAP_Directory;

    public async Task SubmitForm() {
        List<AuthIdentityChoiceStep.AuthServiceEnum> authServices = new List<AuthIdentityChoiceStep.AuthServiceEnum>();
        if(IAP_Auth) {
            authServices.Add(AuthIdentityChoiceStep.AuthServiceEnum.IdentityAwareProxy);
        }
        if (OIDC_Auth) {
            authServices.Add(AuthIdentityChoiceStep.AuthServiceEnum.OIDC);
        }
        if (LDAP_Auth) {
            authServices.Add(AuthIdentityChoiceStep.AuthServiceEnum.LDAP);
        }

        List<AuthIdentityChoiceStep.IdentityServiceEnum> identityServices = new List<AuthIdentityChoiceStep.IdentityServiceEnum>();
        if(SCIM_Directory) {
            identityServices.Add(AuthIdentityChoiceStep.IdentityServiceEnum.SCIM);
        }
        if(LDAP_Directory) {
            identityServices.Add(AuthIdentityChoiceStep.IdentityServiceEnum.LDAP);
        }

        AuthIdentityChoiceStep step = new AuthIdentityChoiceStep {
            AuthServices = authServices,
            IdentityServices = identityServices,
        };

        await OnNextStep.InvokeAsync(step);
    }
}
