@page "/admin/alerts"
@attribute [Authorize(Policy = "SuperAdministrator")]

@layout AdminShell

@using Gatekeeper.Shared.ClientAndWeb.Admin
@inject Gatekeeper.Shared.ClientAndWeb.Admin.AdminAlerts.AdminAlertsClient AdminAlertsClient

@if(_alerts != null && _alerts.Count != 0)
{
    <h4 class="font-weight-bold">Action required</h4>

    @foreach(Alert alert in _alerts.Where(a => a.IsActionable == true))
    {
        @switch(alert.AlertDataCase) {
            case Alert.AlertDataOneofCase.LdapConnectionAlert:
                <div class="alert-card @MapLevelToAlertCss(alert.Level) p-3 mb-4">
                    <p class="font-weight-bold">Unencrypted LDAP bind</p>
                    <p>We have identified an unencrypted LDAP bind. This means that sensitive information is transferred unencrypted over the network.</p>
                    <p class="font-weight-bold">Technical details</p>
                    <p>App Name: @alert.LdapConnectionAlert.AppName</p>
                    <p>Source IP: @alert.LdapConnectionAlert.IpAddress</p>
                    <p class="font-weight-bold">Recommendation</p>
                    <p>Configure your LDAP clients to connect using an encrypted connection using STARTTLS.</p>
                    <div class="d-flex flex-column flex-md-row">
                        <button class="btn btn-primary btn-sm-100" @onclick="(() => DismissAlert(alert))">Dismiss alert</button>
                    </div>
                </div>
                break;
        }
    }

    <h4 class="font-weight-bold">No action required</h4>
    @foreach(Alert alert in _alerts.Where(a => a.IsActionable == false))
    {
        @switch(alert.AlertDataCase) {
            case Alert.AlertDataOneofCase.BruteforceIpAddressAlert:
                <div class="alert-card @MapLevelToAlertCss(alert.Level) p-3 mb-4">
                    <p class="font-weight-bold">Bruteforce attempt</p>
                    <p>We have identified a bruteforce attempt and blocked the attack.</p>
                    <p class="font-weight-bold">Technical details</p>
                    <p>Source IP: @alert.BruteforceIpAddressAlert.IpAddress</p>
                    <p class="font-weight-bold">Recommendation</p>
                    <p>No action is required. The issue has been mitigated automatically.</p>
                    <div class="d-flex flex-column flex-md-row">
                        <button class="btn btn-primary btn-sm-100" @onclick="(() => DismissAlert(alert))">Dismiss alert</button>
                    </div>
                </div>
                break;
        }
    }    
} else {
    <div class="d-flex flex-column justify-content-center">
        <img class="image-md mx-auto" src="/img/undraw/all-caught-up.svg" />
        <h2 class="text-center mt-2">All caught up!</h2>
    </div>
    
}
    
@code {
    private List<Alert>? _alerts = null;

    protected override async Task OnInitializedAsync()
    {
        AlertListReply alertListReply = await AdminAlertsClient.ListAlertsAsync(new Google.Protobuf.WellKnownTypes.Empty());
        _alerts = alertListReply.Alerts.ToList();
    }

    private async Task DismissAlert(Alert alert)
    {
        if(_alerts != null)
        {
            _alerts.Remove(alert);
        }
        await AdminAlertsClient.DismissAlertAsync(new DismissAlertRequest{Id = alert.Id});
    }

    private string MapLevelToAlertCss(Alert.Types.LevelEnum alertLevel)
    {
        switch(alertLevel)
        {
            case Alert.Types.LevelEnum.High:
                return "alert-card__red";
            case Alert.Types.LevelEnum.Medium:
                return "alert-card__yellow";
            case Alert.Types.LevelEnum.Low:
                return "alert-card__green";
        }
        
        throw new Exception(alertLevel  + " is not supported.");
    }
}
