@inherits ValidatingInputBase

<div class="form-group">
    <label 
        for="@_divIdentifier"
    >
        @Name
        @if (Required)
        {
            <span>&nbsp;(Required)</span>
        }
    </label>
    <div class="wrapper @GetWrapperClasses()">
        <textarea 
            type="text"
            id="@_divIdentifier"  
            @bind-value="Value" 
            @bind-value:event="oninput"
            @onkeyup="KeyPressed"
            class="form-control bg-secondary @GetCssClasses()" 
            placeholder="@Placeholder"
        />
    </div>
    @if (_errorHint != null && _validationState == ValidationStateEnum.Failed)
    {
        <small 
            class="form-text text-muted"
        >
            @_errorHint
        </small>
    }
</div>
