@inherits ValidatingInputBase

<div class="form-group">
    <label 
        for="@_divIdentifier"
    >
        @Name
        @if (Required)
        {
            <span>&nbsp;(Required)</span>
        }
    </label>
    <div class="wrapper @GetWrapperClasses()">
        <input
            type="@InputType" 
            id="@_divIdentifier" 
            placeholder="@Placeholder"
            class="form-control bg-secondary @GetCssClasses()"
            @bind-value="Value" 
            @bind-value:event="oninput"
            @onkeyup="KeyPressed"
        />
    </div>
    @if (_errorHint != null && _validationState == ValidationStateEnum.Failed)
    {
        <small 
            class="form-text text-muted"
        >
            @_errorHint
        </small>
    }
</div>

@code {
    [Parameter]
    public string InputType { get; set; } = "text";
}