@page "/admin/apps/details/{Id:guid}"
@attribute [Authorize(Policy = "SuperAdministrator")]

@layout AdminShell

@using AuthServer.Shared.Admin
@using Gatekeeper.Client.Pages.Admin.Apps.AppDetails.ConfigurationView

@inject AuthServer.Shared.Admin.AdminApps.AdminAppsClient AppsClient

@if (appDetailReply != null)
{
    <h1>Configure @appDetailReply.Name</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link @((_activeTab == Tabs.AppInfo) ? "active" : "")" @onclick="@(() => SetActiveTab(Tabs.AppInfo))">App Info</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @((_activeTab == Tabs.Authentication) ? "active" : "")" @onclick="@(() => SetActiveTab(Tabs.Authentication))">Authentication</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @((_activeTab == Tabs.Directory) ? "active" : "")" @onclick="@(() => SetActiveTab(Tabs.Directory))">Directory</a>
        </li>
        <li class="nav-item">
            <a class="nav-link @((_activeTab == Tabs.Permissions) ? "active" : "")" @onclick="@(() => SetActiveTab(Tabs.Permissions))">Permissions</a>
        </li>
    </ul>

    @switch(_activeTab) {
        case Tabs.AppInfo: 
            <AppInfoTab 
                TabData="
                    new AppInfoTab.AppInfoTabData {
                        AppId = appDetailReply.Id,
                        Name = appDetailReply.Name, 
                        Description = appDetailReply.Description,
                        Url = appDetailReply.Url
                    }"
                TabDataChangedCallBack="AppInfoTabCallBack"
            />
            break;
        case Tabs.Authentication:
            if(appDetailReply.HostingType == HostingType.WebGatekeeperProxy) {
                <h2>Gatekeeper Proxy</h2>
                <ConfigureGatekeeperProxy 
                        PublicHostname="@appDetailReply.ProxyAuthSetting.PublicHostname"
                        InternalHostname="@appDetailReply.ProxyAuthSetting.InternalHostname"
                        AppId="@Id"
                        PublicEndpoints="@appDetailReply.ProxyAuthSetting.PublicEndpoints.ToList()"
                    />
            }

            switch(appDetailReply.AuthSettingCase) {
                case AppDetailReply.AuthSettingOneofCase.LdapAuthSetting:
                    <div class="d-flex p-4 light-border my-4 rounded flex-column">
                        <div class="d-flex flex-row align-items-center justify-content-between w-100">
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">LDAP authentication</p>
                                <p>Base DN</p>
                            </div>
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">Value</p>
                                <p>@appDetailReply.LdapAuthSetting.BaseDn</p>
                            </div>
                        </div>
                    </div>
                    break;

                case AppDetailReply.AuthSettingOneofCase.OidcAuthSetting:
                    <div class="d-flex p-4 light-border my-4 rounded flex-column">
                        <div class="d-flex flex-row align-items-center justify-content-between w-100">
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">OIDC Authentication</p>
                                <p>Client ID</p>
                                <p>Client Secret</p>
                                <p>Redirect URI</p>
                            </div>
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">Value</p>
                                <p>@appDetailReply.OidcAuthSetting.ClientId</p>
                                <p>@appDetailReply.OidcAuthSetting.ClientSecret</p>
                                <p>@appDetailReply.OidcAuthSetting.RedirectUri</p>
                                
                            </div>
                        </div>
                    </div>
                    break;

                case AppDetailReply.AuthSettingOneofCase.None:
                    <div class="d-flex p-4 light-border my-4 rounded flex-column">
                        <p>No further authentication is configured.</p>
                    </div>
                    break;
            }
            break;
        case Tabs.Directory:
            switch(appDetailReply.DirectorySettingCase) {
                case AppDetailReply.DirectorySettingOneofCase.LdapDirectorySetting:
                    <div class="d-flex p-4 light-border my-4 rounded flex-column">
                        <div class="d-flex flex-row align-items-center justify-content-between w-100">
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">LDAP configuration</p>
                                <p>Base DN</p>
                                <p>Bind user</p>
                                <p>Bind password</p>
                            </div>
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">Value</p>
                                <p>@appDetailReply.LdapDirectorySetting.BaseDn</p>
                                <p>@appDetailReply.LdapDirectorySetting.Username</p>
                                <p>@appDetailReply.LdapDirectorySetting.Password</p>
                            </div>
                        </div>
                    </div>
                    break;
                case AppDetailReply.DirectorySettingOneofCase.ScimDirectorySetting:
                    <div class="d-flex p-4 light-border my-4 rounded flex-column">
                         <div class="d-flex flex-row align-items-center justify-content-between w-100">
                             <div class="d-flex flex-column">
                                <p class="font-weight-bold">SCIM configuration</p>
                                <p>Endpoint</p>
                            </div>
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">Value</p>
                                <p>@appDetailReply.ScimDirectorySetting.Endpoint</p>
                            </div>
                            <div class="d-flex flex-column">
                                <p class="font-weight-bold">Action</p>
                                <button @onclick="TriggerScimSync" class="btn btn-primary">Trigger sync</button>
                            </div>
                         </div>
                    </div>
                    break;
                case AppDetailReply.DirectorySettingOneofCase.None:
                    <div class="d-flex p-4 light-border my-4 rounded flex-column">
                        <p>None configured</p>
                    </div>
                    break;
            }
            break;
         
        case Tabs.Permissions:
                <div class="d-flex p-4 light-border my-4 rounded flex-column">
                    <div class="d-flex flex-row align-items-center justify-content-between w-100">
                        <p class="font-weight-bold">Groups</p>
                        <p class="font-weight-bold">Action</p>
                    </div>
                    
                @foreach (GrantedAppGroup group in appDetailReply.Groups)
                {
                    <div class="d-flex flex-row align-items-center justify-content-between w-100 mb-2"> 
                        <p>@group.Name </p> 
                        <button class="btn btn-secondary-dark btn-delete" @onclick="@(async () => await RemoveGroupFromApp(group))">
                            Remove access
                        </button>
                    </div>
                }
                </div>

                <form @onsubmit="@AddGroupToApp" class="form-group d-flex flex-column flex-lg-row col-12 col-md-6">
                    <input type="text" @bind="@GroupId" class="form-control bg-secondary mr-0 mr-lg-3 mb-3 mb-lg-0" />
                    <button type="submit" class="btn btn-primary"><i class="fas fa-plus mr-2"></i> Add group</button>
                </form>
            break;
    }
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    private AppDetailReply? appDetailReply;
    private string GroupId = "";
    private Tabs _activeTab = Tabs.AppInfo;
    private enum Tabs 
    {
        AppInfo = 1,
        Authentication = 2,
        Directory = 3,
        Permissions = 4,
    }

    protected override async Task OnInitializedAsync()
    {
        AppDetailRequest request = new AppDetailRequest
        {
            Id = Id.ToString(),
        };

        appDetailReply = await AppsClient.GetAppDetailsAsync(request);
    }

    private async Task SetActiveTab(Tabs tab)
    {
        _activeTab = tab;
    }

    private async Task AppInfoTabCallBack(AppInfoTab.AppInfoTabData tabData){
        appDetailReply.Name = tabData.Name;
        appDetailReply.Description = tabData.Description;
        appDetailReply.Url = tabData.Url;
    }

    private async Task TriggerScimSync() {
        ScimSyncRequest request = new ScimSyncRequest
        {
            AppId = Id.ToString(),
        };

        await AppsClient.TriggerScimSyncAsync(request);
    }

    private async Task AddGroupToApp()
    {
        AddGroupToAppRequest request = new AddGroupToAppRequest
        {
            AppId = Id.ToString(),
            GroupId = GroupId,
        };
        await AppsClient.AddGroupToAppAsync(request);
    }

    private async Task RemoveGroupFromApp(GrantedAppGroup group)
    {
        RemoveGroupFromAppRequest request = new RemoveGroupFromAppRequest
        {
            AppId = Id.ToString(),
            GroupId = group.Id,
        };

        await AppsClient.RemoveGroupFromAppAsync(request);
    }
}
