@page "/admin/apps/details/{Id:guid}"
@attribute [Authorize(Policy = "SuperAdministrator")]

@layout AdminShell

@using AuthServer.Shared.Admin

@inject AuthServer.Shared.Admin.AdminApps.AdminAppsClient AppsClient

@if (appDetailReply != null)
{
    <div>
        <h1>Configure @appDetailReply.Name</h1>

        <h2>Auth setting</h2>
        @switch(appDetailReply.AuthSettingCase) {
            case AppDetailReply.AuthSettingOneofCase.LdapAuthSetting:
                <span>Base DN: @appDetailReply.LdapAuthSetting.BaseDn</span>
                break;

            case AppDetailReply.AuthSettingOneofCase.OidcAuthSetting:
                <p>Client ID: @appDetailReply.OidcAuthSetting.ClientId</p>
                <p>Client Secret: @appDetailReply.OidcAuthSetting.ClientSecret</p>
                <p>Redirect URI: @appDetailReply.OidcAuthSetting.RedirectUri</p>
                break;

            case AppDetailReply.AuthSettingOneofCase.ProxyAuthSetting:
                <span>Internal hostname: @appDetailReply.ProxyAuthSetting.InternalHostname</span>
                break;
        }

        <h2>Directory settings</h2>
        @switch(appDetailReply.DirectorySettingCase) {
            case AppDetailReply.DirectorySettingOneofCase.LdapDirectorySetting:
                <p>Base DN: @appDetailReply.LdapDirectorySetting.BaseDn</p>
                <p>Bind user: @appDetailReply.LdapDirectorySetting.Username</p>
                <p>Bind password: @appDetailReply.LdapDirectorySetting.Password</p>
                break;
            case AppDetailReply.DirectorySettingOneofCase.ScimDirectorySetting:
                <span>SCIM</span>
                break;
            case AppDetailReply.DirectorySettingOneofCase.None:
                <span>None configured</span>
                break;
        }

        <h2>Groups with access</h2>
        <p>Groups:</p>

        @foreach (GrantedAppGroup group in appDetailReply.Groups)
        {
            <li>@group.Name (@group.Id) <button @onclick="@(async () => await RemoveGroupFromApp(group))">Remove access</button></li>
        }

        <form @onsubmit="@AddGroupToApp">
            <input type="text" @bind="@GroupId" />
            <button type="submit">Add group</button>
        </form>

    </div>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    private AppDetailReply? appDetailReply;
    private string GroupId = "";

    protected override async Task OnInitializedAsync()
    {
        AppDetailRequest request = new AppDetailRequest
        {
            Id = Id.ToString(),
        };

        appDetailReply = await AppsClient.GetAppDetailsAsync(request);
    }

    private async Task AddGroupToApp()
    {
        AddGroupToAppRequest request = new AddGroupToAppRequest
        {
            AppId = Id.ToString(),
            GroupId = GroupId,
        };
        await AppsClient.AddGroupToAppAsync(request);
    }

    private async Task RemoveGroupFromApp(GrantedAppGroup group)
    {
        RemoveGroupFromAppRequest request = new RemoveGroupFromAppRequest
        {
            AppId = Id.ToString(),
            GroupId = group.Id,
        };

        await AppsClient.RemoveGroupFromAppAsync(request);
    }
}
